In [54]:
import pandas as pd
import numpy as np

In [55]:
df = pd.read_excel('../data\Sample Sales Data- Interns task.xlsx')
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2003-02-24,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,2003-05-07,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,2003-07-01,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,2003-08-25,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,2003-10-10,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [108]:
df['PRODUCTCODE'].unique()

array(['S10_1678', 'S10_1949', 'S10_2016', 'S10_4698', 'S10_4757',
       'S10_4962', 'S12_1099', 'S12_1108', 'S12_1666', 'S12_2823',
       'S12_3148', 'S12_3380', 'S12_3891', 'S12_3990', 'S12_4473',
       'S12_4675', 'S18_1097', 'S18_1129', 'S18_1342', 'S18_1367',
       'S18_1589', 'S18_1662', 'S18_1749', 'S18_1889'], dtype=object)

In [103]:
str(df['ORDERDATE'][0]).split(" ")[0]

'2003-02-24'

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 625 entries, 0 to 624
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       625 non-null    int64
 1   QUANTITYORDERED   625 non-null    int64
 2   PRICEEACH         625 non-null    float64
 3   ORDERLINENUMBER   625 non-null    int64
 4   SALES             625 non-null    float64
 5   ORDERDATE         625 non-null    datetime64[ns]
 6   STATUS            625 non-null    object
 7   QTR_ID            625 non-null    int64
 8   MONTH_ID          625 non-null    int64
 9   YEAR_ID           625 non-null    int64
 10  PRODUCTLINE       625 non-null    object
 11  MSRP              625 non-null    int64
 12  PRODUCTCODE       625 non-null    object
 13  CUSTOMERNAME      625 non-null    object
 14  PHONE             625 non-null    object
 15  ADDRESSLINE1      625 non-null    object
 16  ADDRESSLINE2      64 non-null     object
 17  CITY              625 non-null    object
 18  STATE             302 non-null    object
 19  POSTALCODE        597 non-null    object
 20  COUNTRY           625 non-null    object
 21  TERRITORY         380 non-null    object
 22  CONTACTLASTNAME   625 non-null    object
 23  CONTACTFIRSTNAME  625 non-null    object
 24  DEALSIZE          625 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(7), object(15)
memory usage: 122.2+ KB

In [112]:
one_day_data = df[df['ORDERDATE'] == "2003-09-11"]
one_day_data['PRODUCTCODE']

451    S18_1129
530    S18_1589
Name: PRODUCTCODE, dtype: object

In [12]:
dates = df['ORDERDATE'].unique()

In [20]:
sorted_dates = sorted(list(dates))

In [98]:
sorted_dates

[Timestamp('2003-01-06 00:00:00'),
 Timestamp('2003-01-10 00:00:00'),
 Timestamp('2003-01-29 00:00:00'),
 Timestamp('2003-01-31 00:00:00'),
 Timestamp('2003-02-11 00:00:00'),
 Timestamp('2003-02-17 00:00:00'),
 Timestamp('2003-02-24 00:00:00'),
 Timestamp('2003-03-03 00:00:00'),
 Timestamp('2003-03-10 00:00:00'),
 Timestamp('2003-03-18 00:00:00'),
 Timestamp('2003-03-24 00:00:00'),
 Timestamp('2003-03-25 00:00:00'),
 Timestamp('2003-03-26 00:00:00'),
 Timestamp('2003-04-01 00:00:00'),
 Timestamp('2003-04-04 00:00:00'),
 Timestamp('2003-04-16 00:00:00'),
 Timestamp('2003-04-28 00:00:00'),
 Timestamp('2003-04-29 00:00:00'),
 Timestamp('2003-05-07 00:00:00'),
 Timestamp('2003-05-08 00:00:00'),
 Timestamp('2003-05-20 00:00:00'),
 Timestamp('2003-05-21 00:00:00'),
 Timestamp('2003-05-28 00:00:00'),
 Timestamp('2003-06-03 00:00:00'),
 Timestamp('2003-06-12 00:00:00'),
 Timestamp('2003-06-16 00:00:00'),
 Timestamp('2003-07-01 00:00:00'),
 Timestamp('2003-07-02 00:00:00'),
 Timestamp('2003-07-04 00:00:00'),
 Timestamp('2003-07-10 00:00:00'),
 Timestamp('2003-07-16 00:00:00'),
 Timestamp('2003-07-24 00:00:00'),
 Timestamp('2003-08-01 00:00:00'),
 Timestamp('2003-08-08 00:00:00'),
 Timestamp('2003-08-10 00:00:00'),
 Timestamp('2003-08-25 00:00:00'),
 Timestamp('2003-09-05 00:00:00'),
 Timestamp('2003-09-11 00:00:00'),
 Timestamp('2003-09-12 00:00:00'),
 Timestamp('2003-09-19 00:00:00'),
 Timestamp('2003-09-21 00:00:00'),
 Timestamp('2003-09-28 00:00:00'),
 Timestamp('2003-10-04 00:00:00'),
 Timestamp('2003-10-05 00:00:00'),
 Timestamp('2003-10-06 00:00:00'),
 Timestamp('2003-10-10 00:00:00'),
 Timestamp('2003-10-11 00:00:00'),
 Timestamp('2003-10-17 00:00:00'),
 Timestamp('2003-10-18 00:00:00'),
 Timestamp('2003-10-20 00:00:00'),
 Timestamp('2003-10-21 00:00:00'),
 Timestamp('2003-10-22 00:00:00'),
 Timestamp('2003-10-23 00:00:00'),
 Timestamp('2003-10-28 00:00:00'),
 Timestamp('2003-11-04 00:00:00'),
 Timestamp('2003-11-05 00:00:00'),
 Timestamp('2003-11-06 00:00:00'),
 Timestamp('2003-11-08 00:00:00'),
 Timestamp('2003-11-11 00:00:00'),
 Timestamp('2003-11-12 00:00:00'),
 Timestamp('2003-11-13 00:00:00'),
 Timestamp('2003-11-14 00:00:00'),
 Timestamp('2003-11-18 00:00:00'),
 Timestamp('2003-11-20 00:00:00'),
 Timestamp('2003-11-21 00:00:00'),
 Timestamp('2003-11-25 00:00:00'),
 Timestamp('2003-11-26 00:00:00'),
 Timestamp('2003-11-27 00:00:00'),
 Timestamp('2003-12-01 00:00:00'),
 Timestamp('2003-12-02 00:00:00'),
 Timestamp('2003-12-03 00:00:00'),
 Timestamp('2003-12-05 00:00:00'),
 Timestamp('2003-12-09 00:00:00'),
 Timestamp('2004-01-02 00:00:00'),
 Timestamp('2004-01-09 00:00:00'),
 Timestamp('2004-01-12 00:00:00'),
 Timestamp('2004-01-15 00:00:00'),
 Timestamp('2004-01-16 00:00:00'),
 Timestamp('2004-01-26 00:00:00'),
 Timestamp('2004-01-29 00:00:00'),
 Timestamp('2004-02-02 00:00:00'),
 Timestamp('2004-02-04 00:00:00'),
 Timestamp('2004-02-10 00:00:00'),
 Timestamp('2004-02-12 00:00:00'),
 Timestamp('2004-02-19 00:00:00'),
 Timestamp('2004-02-20 00:00:00'),
 Timestamp('2004-02-21 00:00:00'),
 Timestamp('2004-02-22 00:00:00'),
 Timestamp('2004-02-26 00:00:00'),
 Timestamp('2004-03-02 00:00:00'),
 Timestamp('2004-03-10 00:00:00'),
 Timestamp('2004-03-11 00:00:00'),
 Timestamp('2004-03-15 00:00:00'),
 Timestamp('2004-03-19 00:00:00'),
 Timestamp('2004-04-03 00:00:00'),
 Timestamp('2004-04-05 00:00:00'),
 Timestamp('2004-04-09 00:00:00'),
 Timestamp('2004-04-12 00:00:00'),
 Timestamp('2004-04-13 00:00:00'),
 Timestamp('2004-04-29 00:00:00'),
 Timestamp('2004-05-04 00:00:00'),
 Timestamp('2004-05-05 00:00:00'),
 Timestamp('2004-05-07 00:00:00'),
 Timestamp('2004-05-11 00:00:00'),
 Timestamp('2004-05-18 00:00:00'),
 Timestamp('2004-06-01 00:00:00'),
 Timestamp('2004-06-08 00:00:00'),
 Timestamp('2004-06-15 00:00:00'),
 Timestamp('2004-06-17 00:00:00'),
 Timestamp('2004-06-24 00:00:00'),
 Timestamp('2004-06-28 00:00:00'),
 Timestamp('2004-07-06 00:00:00'),
 Timestamp('2004-07-19 00:00:00'),
 Timestamp('2004-07-20 00:00:00'),
 Timestamp('2004-07-21 00:00:00'),
 Timestamp('2004-07-23 00:00:00'),
 Timestamp('2004-08-02 00:00:00'),
 Timestamp('2004-08-04 00:00:00'),
 Timestamp('2004-08-06 00:00:00'),
 Timestamp('2004-08-17 00:00:00'),
 Timestamp('2004-08-19 00:00:00'),
 Timestamp('2004-08-20 00:00:00'),
 Timestamp('2004-08-21 00:00:00'),
 Timestamp('2004-08-27 00:00:00'),
 Timestamp('2004-08-30 00:00:00'),
 Timestamp('2004-09-01 00:00:00'),
 Timestamp('2004-09-03 00:00:00'),
 Timestamp('2004-09-08 00:00:00'),
 Timestamp('2004-09-09 00:00:00'),
 Timestamp('2004-09-10 00:00:00'),
 Timestamp('2004-09-15 00:00:00'),
 Timestamp('2004-09-27 00:00:00'),
 Timestamp('2004-09-30 00:00:00'),
 Timestamp('2004-10-11 00:00:00'),
 Timestamp('2004-10-13 00:00:00'),
 Timestamp('2004-10-14 00:00:00'),
 Timestamp('2004-10-15 00:00:00'),
 Timestamp('2004-10-16 00:00:00'),
 Timestamp('2004-10-21 00:00:00'),
 Timestamp('2004-10-22 00:00:00'),
 Timestamp('2004-11-01 00:00:00'),
 Timestamp('2004-11-02 00:00:00'),
 Timestamp('2004-11-03 00:00:00'),
 Timestamp('2004-11-04 00:00:00'),
 Timestamp('2004-11-05 00:00:00'),
 Timestamp('2004-11-10 00:00:00'),
 Timestamp('2004-11-15 00:00:00'),
 Timestamp('2004-11-17 00:00:00'),
 Timestamp('2004-11-18 00:00:00'),
 Timestamp('2004-11-19 00:00:00'),
 Timestamp('2004-11-20 00:00:00'),
 Timestamp('2004-11-21 00:00:00'),
 Timestamp('2004-11-22 00:00:00'),
 Timestamp('2004-11-23 00:00:00'),
 Timestamp('2004-11-24 00:00:00'),
 Timestamp('2004-11-25 00:00:00'),
 Timestamp('2004-11-29 00:00:00'),
 Timestamp('2004-12-01 00:00:00'),
 Timestamp('2004-12-02 00:00:00'),
 Timestamp('2004-12-03 00:00:00'),
 Timestamp('2004-12-09 00:00:00'),
 Timestamp('2004-12-10 00:00:00'),
 Timestamp('2004-12-15 00:00:00'),
 Timestamp('2004-12-17 00:00:00'),
 Timestamp('2005-01-05 00:00:00'),
 Timestamp('2005-01-06 00:00:00'),
 Timestamp('2005-01-07 00:00:00'),
 Timestamp('2005-01-12 00:00:00'),
 Timestamp('2005-01-20 00:00:00'),
 Timestamp('2005-01-23 00:00:00'),
 Timestamp('2005-01-26 00:00:00'),
 Timestamp('2005-01-31 00:00:00'),
 Timestamp('2005-02-02 00:00:00'),
 Timestamp('2005-02-03 00:00:00'),
 Timestamp('2005-02-08 00:00:00'),
 Timestamp('2005-02-09 00:00:00'),
 Timestamp('2005-02-10 00:00:00'),
 Timestamp('2005-02-16 00:00:00'),
 Timestamp('2005-02-17 00:00:00'),
 Timestamp('2005-02-23 00:00:00'),
 Timestamp('2005-03-01 00:00:00'),
 Timestamp('2005-03-03 00:00:00'),
 Timestamp('2005-03-04 00:00:00'),
 Timestamp('2005-03-09 00:00:00'),
 Timestamp('2005-03-17 00:00:00'),
 Timestamp('2005-03-23 00:00:00'),
 Timestamp('2005-03-30 00:00:00'),
 Timestamp('2005-04-01 00:00:00'),
 Timestamp('2005-04-07 00:00:00'),
 Timestamp('2005-04-08 00:00:00'),
 Timestamp('2005-04-14 00:00:00'),
 Timestamp('2005-04-15 00:00:00'),
 Timestamp('2005-04-22 00:00:00'),
 Timestamp('2005-05-01 00:00:00'),
 Timestamp('2005-05-03 00:00:00'),
 Timestamp('2005-05-05 00:00:00'),
 Timestamp('2005-05-06 00:00:00'),
 Timestamp('2005-05-10 00:00:00'),
 Timestamp('2005-05-13 00:00:00'),
 Timestamp('2005-05-17 00:00:00'),
 Timestamp('2005-05-29 00:00:00'),
 Timestamp('2005-05-30 00:00:00'),
 Timestamp('2005-05-31 00:00:00')]

In [104]:
str(sorted_dates[0]).split(" ")[0]

'2003-01-06'

In [97]:
df['ORDERDATE'].unique()

<DatetimeArray>
['2003-02-24 00:00:00', '2003-05-07 00:00:00', '2003-07-01 00:00:00',
 '2003-08-25 00:00:00', '2003-10-10 00:00:00', '2003-10-28 00:00:00',
 '2003-11-11 00:00:00', '2003-11-18 00:00:00', '2003-12-01 00:00:00',
 '2004-01-15 00:00:00',
 ...
 '2004-11-10 00:00:00', '2004-11-22 00:00:00', '2004-12-03 00:00:00',
 '2005-03-01 00:00:00', '2005-03-30 00:00:00', '2005-05-10 00:00:00',
 '2003-01-06 00:00:00', '2004-01-26 00:00:00', '2004-11-25 00:00:00',
 '2005-05-29 00:00:00']
Length: 203, dtype: datetime64[ns]

In [26]:
# sorted_dates.to_numpy(dtype='datetime64[ns]')
# np.array(sorted_dates, dtype='datetime64[ns]')
pd.DatetimeIndex(sorted_dates)

DatetimeIndex(['2003-01-06', '2003-01-10', '2003-01-29', '2003-01-31',
               '2003-02-11', '2003-02-17', '2003-02-24', '2003-03-03',
               '2003-03-10', '2003-03-18',
               ...
               '2005-05-01', '2005-05-03', '2005-05-05', '2005-05-06',
               '2005-05-10', '2005-05-13', '2005-05-17', '2005-05-29',
               '2005-05-30', '2005-05-31'],
              dtype='datetime64[ns]', length=203, freq=None)

### Working on individual date

In [56]:
one_day_data

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2003-02-24,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
54,10107,39,99.91,5,3896.49,2003-02-24,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Medium
80,10107,27,100.00,4,6065.55,2003-02-24,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Medium
240,10107,21,100.00,1,3036.60,2003-02-24,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Medium

In [80]:
def fetch_data_attrs(date):
    try:
        one_day_data = df[df['ORDERDATE'] == date]
    except:
        print("Sales not executed on that day")
    total_order_quantity = one_day_data['QUANTITYORDERED'].sum()
    total_sales = one_day_data['SALES'].sum()
    order_date = one_day_data['ORDERDATE'].unique()[0]
    order_date = str(order_date.date())
    order_numbers = one_day_data['ORDERNUMBER'].unique()
    total = {
        'total_order_quantity': total_order_quantity,
        'total_sales': total_sales,
        'order_date': order_date
    }
    rows = one_day_data.shape[0]
    onedaylist = []
    for i in range(rows):
        onedayitem = one_day_data.iloc[i]
        onedaylist.append({
            'Order Number': onedayitem['ORDERNUMBER'],
            'Quantity Ordered': onedayitem['QUANTITYORDERED'],
            'Price Each Item': onedayitem['PRICEEACH'],
            'Order Line Number': onedayitem['ORDERLINENUMBER'],
            'Sales': onedayitem['SALES'],
            'Status': onedayitem['STATUS'],
            'Qtr ID': onedayitem['QTR_ID'],
            'Productline': onedayitem['PRODUCTLINE'],
            'MSRP': onedayitem['MSRP'],
            'Product Code': onedayitem['PRODUCTCODE'],
            'Customer Name': onedayitem['CUSTOMERNAME'],
            'Address': onedayitem['ADDRESSLINE1'],
            'City': onedayitem['CITY'],
            'State': onedayitem['STATE'],
            'Country': onedayitem['COUNTRY'],
            'Postal Code': onedayitem['POSTALCODE'],
            'Deal Size': onedayitem['DEALSIZE'],

        })
    
    return total, onedaylist

In [81]:
fetch_data_attrs("2003-02-24")

({'total_order_quantity': 117,
  'total_sales': 15869.640000000001,
  'order_date': '2003-02-24'},
 [{'Order Number': 10107,
   'Quantity Ordered': 30,
   'Price Each Item': 95.7,
   'Order Line Number': 2,
   'Sales': 2871.0,
   'Status': 'Shipped',
   'Qtr ID': 1,
   'Productline': 'Motorcycles',
   'MSRP': 95,
   'Product Code': 'S10_1678',
   'Customer Name': 'Land of Toys Inc.',
   'Address': '897 Long Airport Avenue',
   'City': 'NYC',
   'State': 'NY',
   'Country': 'USA',
   'Postal Code': 10022,
   'Deal Size': 'Small'},
  {'Order Number': 10107,
   'Quantity Ordered': 39,
   'Price Each Item': 99.91,
   'Order Line Number': 5,
   'Sales': 3896.49,
   'Status': 'Shipped',
   'Qtr ID': 1,
   'Productline': 'Motorcycles',
   'MSRP': 118,
   'Product Code': 'S10_2016',
   'Customer Name': 'Land of Toys Inc.',
   'Address': '897 Long Airport Avenue',
   'City': 'NYC',
   'State': 'NY',
   'Country': 'USA',
   'Postal Code': 10022,
   'Deal Size': 'Medium'},
  {'Order Number': 10107,
   'Quantity Ordered': 27,
   'Price Each Item': 100.0,
   'Order Line Number': 4,
   'Sales': 6065.55,
   'Status': 'Shipped',
   'Qtr ID': 1,
   'Productline': 'Motorcycles',
   'MSRP': 193,
   'Product Code': 'S10_4698',
   'Customer Name': 'Land of Toys Inc.',
   'Address': '897 Long Airport Avenue',
   'City': 'NYC',
   'State': 'NY',
   'Country': 'USA',
   'Postal Code': 10022,
   'Deal Size': 'Medium'},
  {'Order Number': 10107,
   'Quantity Ordered': 21,
   'Price Each Item': 100.0,
   'Order Line Number': 1,
   'Sales': 3036.6,
   'Status': 'Shipped',
   'Qtr ID': 1,
   'Productline': 'Motorcycles',
   'MSRP': 150,
   'Product Code': 'S12_2823',
   'Customer Name': 'Land of Toys Inc.',
   'Address': '897 Long Airport Avenue',
   'City': 'NYC',
   'State': 'NY',
   'Country': 'USA',
   'Postal Code': 10022,
   'Deal Size': 'Medium'}])

In [62]:
total_order_quantity = one_day_data['QUANTITYORDERED'].sum()
total_order_quantity

117

In [63]:
total_sales = one_day_data['SALES'].sum()
total_sales

15869.640000000001

In [72]:
one_day_data.shape[0]

4

In [77]:
onedaylist = []
for i in range(one_day_data.shape[0]):
    onedayitem = one_day_data.iloc[i]
    onedaylist.append({
        'Order Number': onedayitem['ORDERNUMBER'],
        'Quantity Ordered': onedayitem['QUANTITYORDERED'],
        'Price Each Item': onedayitem['PRICEEACH'],
        'Order Line Number': onedayitem['ORDERLINENUMBER'],
        'Sales': onedayitem['SALES'],
        'Status': onedayitem['STATUS'],
        'Qtr ID': onedayitem['QTR_ID'],
        'Productline': onedayitem['PRODUCTLINE'],
        'MSRP': onedayitem['MSRP'],
        'Product Code': onedayitem['PRODUCTCODE'],
        'Customer Name': onedayitem['CUSTOMERNAME'],
        'Address': onedayitem['ADDRESSLINE1'],
        'City': onedayitem['CITY'],
        'State': onedayitem['STATE'],
        'Country': onedayitem['COUNTRY'],
        'Postal Code': onedayitem['POSTALCODE'],
        'Deal Size': onedayitem['DEALSIZE'],
        
    })

In [78]:
onedaylist

[{'Order Number': 10107,
  'Quantity Ordered': 30,
  'Price Each Item': 95.7,
  'Order Line Number': 2,
  'Sales': 2871.0,
  'Status': 'Shipped',
  'Qtr ID': 1,
  'Productline': 'Motorcycles',
  'MSRP': 95,
  'Product Code': 'S10_1678',
  'Customer Name': 'Land of Toys Inc.',
  'Address': '897 Long Airport Avenue',
  'City': 'NYC',
  'State': 'NY',
  'Country': 'USA',
  'Postal Code': 10022,
  'Deal Size': 'Small'},
 {'Order Number': 10107,
  'Quantity Ordered': 39,
  'Price Each Item': 99.91,
  'Order Line Number': 5,
  'Sales': 3896.49,
  'Status': 'Shipped',
  'Qtr ID': 1,
  'Productline': 'Motorcycles',
  'MSRP': 118,
  'Product Code': 'S10_2016',
  'Customer Name': 'Land of Toys Inc.',
  'Address': '897 Long Airport Avenue',
  'City': 'NYC',
  'State': 'NY',
  'Country': 'USA',
  'Postal Code': 10022,
  'Deal Size': 'Medium'},
 {'Order Number': 10107,
  'Quantity Ordered': 27,
  'Price Each Item': 100.0,
  'Order Line Number': 4,
  'Sales': 6065.55,
  'Status': 'Shipped',
  'Qtr ID': 1,
  'Productline': 'Motorcycles',
  'MSRP': 193,
  'Product Code': 'S10_4698',
  'Customer Name': 'Land of Toys Inc.',
  'Address': '897 Long Airport Avenue',
  'City': 'NYC',
  'State': 'NY',
  'Country': 'USA',
  'Postal Code': 10022,
  'Deal Size': 'Medium'},
 {'Order Number': 10107,
  'Quantity Ordered': 21,
  'Price Each Item': 100.0,
  'Order Line Number': 1,
  'Sales': 3036.6,
  'Status': 'Shipped',
  'Qtr ID': 1,
  'Productline': 'Motorcycles',
  'MSRP': 150,
  'Product Code': 'S12_2823',
  'Customer Name': 'Land of Toys Inc.',
  'Address': '897 Long Airport Avenue',
  'City': 'NYC',
  'State': 'NY',
  'Country': 'USA',
  'Postal Code': 10022,
  'Deal Size': 'Medium'}]

In [85]:
with open('../list.txt', 'r') as file:
    loaded_list = [line.strip() for line in file]

In [86]:
loaded_list

["{'Order Number': 10107, 'Quantity Ordered': 30, 'Price Each Item': 95.7, 'Order Line Number': 2, 'Sales': 2871.0, 'Status': 'Shipped', 'Qtr ID': 1, 'Productline': 'Motorcycles', 'MSRP': 95, 'Product Code': 'S10_1678', 'Customer Name': 'Land of Toys Inc.', 'Address': '897 Long Airport Avenue', 'City': 'NYC', 'State': 'NY', 'Country': 'USA', 'Postal Code': 10022, 'Deal Size': 'Small'}",
 "{'Order Number': 10107, 'Quantity Ordered': 39, 'Price Each Item': 99.91, 'Order Line Number': 5, 'Sales': 3896.49, 'Status': 'Shipped', 'Qtr ID': 1, 'Productline': 'Motorcycles', 'MSRP': 118, 'Product Code': 'S10_2016', 'Customer Name': 'Land of Toys Inc.', 'Address': '897 Long Airport Avenue', 'City': 'NYC', 'State': 'NY', 'Country': 'USA', 'Postal Code': 10022, 'Deal Size': 'Medium'}",
 "{'Order Number': 10107, 'Quantity Ordered': 27, 'Price Each Item': 100.0, 'Order Line Number': 4, 'Sales': 6065.55, 'Status': 'Shipped', 'Qtr ID': 1, 'Productline': 'Motorcycles', 'MSRP': 193, 'Product Code': 'S10_4698', 'Customer Name': 'Land of Toys Inc.', 'Address': '897 Long Airport Avenue', 'City': 'NYC', 'State': 'NY', 'Country': 'USA', 'Postal Code': 10022, 'Deal Size': 'Medium'}",
 "{'Order Number': 10107, 'Quantity Ordered': 21, 'Price Each Item': 100.0, 'Order Line Number': 1, 'Sales': 3036.6, 'Status': 'Shipped', 'Qtr ID': 1, 'Productline': 'Motorcycles', 'MSRP': 150, 'Product Code': 'S12_2823', 'Customer Name': 'Land of Toys Inc.', 'Address': '897 Long Airport Avenue', 'City': 'NYC', 'State': 'NY', 'Country': 'USA', 'Postal Code': 10022, 'Deal Size': 'Medium'}"]

In [87]:
with open('../list.json', 'r') as file:
    loaded_list = json.load(file)

In [88]:
loaded_list

[{'Order Number': 10107,
  'Quantity Ordered': 30,
  'Price Each Item': 95.7,
  'Order Line Number': 2,
  'Sales': 2871.0,
  'Status': 'Shipped',
  'Qtr ID': 1,
  'Productline': 'Motorcycles',
  'MSRP': 95,
  'Product Code': 'S10_1678',
  'Customer Name': 'Land of Toys Inc.',
  'Address': '897 Long Airport Avenue',
  'City': 'NYC',
  'State': 'NY',
  'Country': 'USA',
  'Postal Code': 10022,
  'Deal Size': 'Small'},
 {'Order Number': 10107,
  'Quantity Ordered': 39,
  'Price Each Item': 99.91,
  'Order Line Number': 5,
  'Sales': 3896.49,
  'Status': 'Shipped',
  'Qtr ID': 1,
  'Productline': 'Motorcycles',
  'MSRP': 118,
  'Product Code': 'S10_2016',
  'Customer Name': 'Land of Toys Inc.',
  'Address': '897 Long Airport Avenue',
  'City': 'NYC',
  'State': 'NY',
  'Country': 'USA',
  'Postal Code': 10022,
  'Deal Size': 'Medium'},
 {'Order Number': 10107,
  'Quantity Ordered': 27,
  'Price Each Item': 100.0,
  'Order Line Number': 4,
  'Sales': 6065.55,
  'Status': 'Shipped',
  'Qtr ID': 1,
  'Productline': 'Motorcycles',
  'MSRP': 193,
  'Product Code': 'S10_4698',
  'Customer Name': 'Land of Toys Inc.',
  'Address': '897 Long Airport Avenue',
  'City': 'NYC',
  'State': 'NY',
  'Country': 'USA',
  'Postal Code': 10022,
  'Deal Size': 'Medium'},
 {'Order Number': 10107,
  'Quantity Ordered': 21,
  'Price Each Item': 100.0,
  'Order Line Number': 1,
  'Sales': 3036.6,
  'Status': 'Shipped',
  'Qtr ID': 1,
  'Productline': 'Motorcycles',
  'MSRP': 150,
  'Product Code': 'S12_2823',
  'Customer Name': 'Land of Toys Inc.',
  'Address': '897 Long Airport Avenue',
  'City': 'NYC',
  'State': 'NY',
  'Country': 'USA',
  'Postal Code': 10022,
  'Deal Size': 'Medium'}]

In [74]:
one_day_data.iloc[3]['ORDERNUMBER']

10107

In [71]:
one_day_data.iloc[0][:]

ORDERNUMBER                           10107
QUANTITYORDERED                          30
PRICEEACH                              95.7
ORDERLINENUMBER                           2
SALES                                2871.0
ORDERDATE               2003-02-24 00:00:00
STATUS                              Shipped
QTR_ID                                    1
MONTH_ID                                  2
YEAR_ID                                2003
PRODUCTLINE                     Motorcycles
MSRP                                     95
PRODUCTCODE                        S10_1678
CUSTOMERNAME              Land of Toys Inc.
PHONE                            2125557818
ADDRESSLINE1        897 Long Airport Avenue
ADDRESSLINE2                            NaN
CITY                                    NYC
STATE                                    NY
POSTALCODE                            10022
COUNTRY                                 USA
TERRITORY                               NaN
CONTACTLASTNAME                          Yu
CONTACTFIRSTNAME                       Kwai
DEALSIZE                              Small
Name: 0, dtype: object

In [57]:
order_date = one_day_data['ORDERDATE'].unique()[0]
order_date = str(order_date.date())
order_date

'2003-02-24'

In [58]:
order_numbers = one_day_data['ORDERNUMBER'].unique()
order_numbers

array([10107], dtype=int64)

In [59]:
30*95.7

2871.0

In [ ]:
one_day_dict = {
    
}

In [82]:
import json

my_list = [1, 2, 3, 4, 5]

# Write to a JSON file
with open('list.json', 'w') as file:
    json.dump(my_list, file)

In [64]:
from fpdf import FPDF

class PDFReport(FPDF):
    def header(self):
        self.set_font('Arial', 'B', 12)
        self.cell(0, 10, 'Sales Report', 0, 1, 'C')

    def footer(self):
        self.set_y(-15)
        self.set_font('Arial', 'I', 8)
        self.cell(0, 10, f'Page {self.page_no()}', 0, 0, 'C')

    def add_sales_data(self, data_frame):
        self.set_font('Arial', '', 10)
        self.add_page()
        self.cell(0, 10, 'Monthly Sales Summary', 0, 1, 'L')
        self.ln(10)

        # Adding table headers
        self.cell(40, 10, 'Month', 1)
        self.cell(40, 10, 'Total Sales', 1)
        self.ln()

        # Adding table data
        for index, row in data_frame.iterrows():
            self.cell(40, 10, str(index), 1)
            self.cell(40, 10, str(row['Sales']), 1)
            self.ln()

    def add_sales_chart(self, chart_path):
        self.image(chart_path, x=10, y=100, w=180)

pdf = PDFReport()
pdf.add_page()
pdf.set_font('Arial', 'B', 16)
pdf.cell(40, 10, 'Sales Report')
pdf.add_page()
pdf.add_sales_data(monthly_sales)
pdf.add_sales_chart('monthly_sales.png')
pdf.output('sales_report.pdf')

ModuleNotFoundError: No module named 'fpdf'

In [96]:
from pathlib import Path

filepath = Path(r"data\Sample Sales Data- Interns task.txt")
extension = filepath.suffix[1:]

print(extension)

txt

In [90]:
filepath

WindowsPath('data/Sample Sales Data- Interns task.xlsx')